
.formcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    gap: 40px; /* Espacio entre las columnas */
    justify-content: space-around;
  }

  .formgroup {
    display: flex;
    flex-direction: column; /* Labels debajo de los elementos */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
  }
  
.label{
gap: 10px 10px;
padding: 5px, ;
margin-bottom: 30px; /* Espacio entre las etiquetas */
font-family: Lexend, sans-serif;
font-size: 27px;
font-weight: 550;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: white;

}
.labelguardar{
    color: var(--negro);
    font-weight: 600;
    font-size: 15px;
    font-family: 'Lexend', sans-serif;
    align-items: center;
    display: flex;
    align-items: center; /* Centrar verticalmente el contenido */
    justify-content: center; 
    padding: 10px 20px

}
.guardar
{
 
 position: absolute;
  border-right: 5px;
  right: 10px;
  width: 120px;
  height: 40px;
  background: rgba(230, 221, 214, 1);
  border: none; /* Sin borde */
  border-radius: 10px;
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambiar cursor al pasar el ratón */

}

.img {
    position: absolute;
    top: 0.5; /* Alinea la imagen en la parte superior de la pantalla */
    right: 0; /* Alinea la imagen a la derecha de la pantalla */
    max-width: 30%; /* Ajusta el ancho de la imagen según tus necesidades */
  }

  .formgroup input{
    width: 325px;
    height: 69px;
    border-radius: 15px;
    color: aqua;
    border: none;
   }